alias dotfiles='/usr/bin/git --git-dir="$HOME/.dotfiles/" --work-tree="$HOME"'

alias ls='ls --color=auto'
alias grep='grep --color=always'
alias pdfopen='open -a Preview $@'
alias ll='ls -ltr'

ldir() {
  ls -rt "${1:-.}" | tail -n1
}
